{% extends 'questionnaire/errors/_layout.html.twig' %}

{% block main %}
    <h1>Сессия не найдена</h1>
    <a href="{{ path('homepage') }}" class="btn btn-primary" >Перейти на главную</a >
{% endblock %}